<h2>ADMIN</h2>

<form action="/admin" method="POST">
  <input type="text" name="name" id="name" />
  <label for="name">Product name</label>
  <input type="text" name="price" id="price" />
  <label for="price">Price</label>
  <input type="text" name="city" id="city" />
  <label for="city">City</label>
  <input type="text" name="description" id="description" />
  <label for="description">Description</label>
  <input type="submit" name="" id="" />
</form>