<h1>LE BON PLAN</h1>

<div>
  <a href="/products/cities/Paris">Paris</a>
  <a href="/products/cities/Lyon">Lyon</a>
  <a href="/products/cities/Marseille">Marseille</a>

</div>

<div>
  {{#if isLoggedIn}}
    <a href="/logout">Logout</a>
    <p>{{username}}</p>
  {{else}}
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
  {{/if}}

</div>